<section>
  <h3>*ngIf</h3>
  <p *ngIf="!oculto">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis
    inventore eius amet tempore. Est voluptatem praesentium nisi quidem, itaque
    officiis quaerat alias perspiciatis ducimus eos illo consequuntur non odit
    nam!
  </p>
  <button (click)="ocultar()" [disabled]="oculto">Ocultar</button>
  <hr />
</section>
<section>
  <h3>*ngFor</h3>
  <ul>
    <li *ngFor="let item of lista; let i = index">{{ i }} - {{ item }}</li>
  </ul>
  <hr />
</section>

<section>
  <h3>[( ngModel )]</h3>
  <input [(ngModel)]="alimento" />
  <p>{{ alimento }}</p>
</section>

<section>
  <h3>*ngSwitch</h3>
  <select [(ngModel)]="status">
    <option *ngFor="let item of alimentos" value="{{ item }}">{{ item }}</option>
  </select>

  <div [ngSwitch]="status">
    <p *ngSwitchCase="'Arroz'">
      Arroz
    </p>
    <p *ngSwitchCase="'Feijão'">
      Feijão
    </p>
    <p *ngSwitchDefault>
      Não temos esse alimento
    </p>
  </div>
</section>
