<!-- <section>
  <h3>Interpolação</h3>
  <hr>
  <p>Seja bem-vindo(a), {{nome}}</p>
  <p>Você te {{idade}} anos.</p>
  <p>{{nome | uppercase}} </p>
  <p>Você nasceu em: {{calculaAnoNascimento()}}</p>

</section> -->

<!-- <section>
  <h3>Event Binding</h3>
  <hr> -->

  <!-- <img
  src="{{linkImage}}"
  height="{{alturaImg}}"
  width="{{larguraImg}}"
  /> -->
  <!-- Property Binding [propriedade]-->
  <!-- <img
  [src]="linkImage"
  [height]="alturaImg"
  [width]="larguraImg"
  />
  <br>
  <p>{{larguraImg}} x {{alturaImg}}</p>
  <button (click)="aumentar()">Aumentar</button>
  <button (click)="diminuir()">Diminuir</button>
</section> -->
<app-exercicio-um></app-exercicio-um>
<app-data-binding></app-data-binding>
<app-exercicio-dois></app-exercicio-dois>

